[class^='container'],[class^='col']{
  border: 1px solid;
  background-color: rgba(210, 105, 30, 0.459);
}

:root{
  --green-light:rgb(26, 188, 156);
}

header{
  height: 60px;
background-color: rgb(44, 62, 80);
}



.heros{
  min-height:500px ;
  background-color: var(--green-light)
}

.debug{
  background-color:rgba(255, 0, 0, 0.74);
  min-height: 500px;
}

.debug2{
  background-color:rgba(16, 133, 141, 0.74);
  min-height:355px;
  border: 1px solid black;
}